body {
    background: linear-gradient(rgb(170, 170, 170), rgb(185, 185, 185));
}

a {
    text-decoration: none;
}

nav {
    background-color: #333;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

nav a {
    display: inline;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-right: 1px white solid;
}

nav a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.modif {
    background-color: #333;
    font-size: 18px;
    padding: 14px 16px;
}

.modif a {
    color: white;
    text-align: center;
}

h1 {
    font-family:'Lucida Sans', sans-serif;
    text-align: center;
}

h2, h3 {
    font-family: 'Lucida Sans', sans-serif;
}

p {
    font-size: 20px;
}

table {
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: black;
    color: white;
    padding: 0px 5px;
}

tr {
    line-height: 30px;
}

tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

td {
    border: 1px solid black;
}

i {
    color: rgb(189, 189, 37);
}

ul {
    column-count: 4;
    list-style-type: circle;
}

li {
    line-height: 30px;
}